[submodule "Genome2D-Core"]
	path = Genome2D-Core
	url = https://github.com/pshtif/Genome2D-Core
[submodule "Genome2D-ContextFlash"]
	path = Genome2D-ContextFlash
	url = https://github.com/pshtif/Genome2D-ContextFlash
[submodule "Genome2D-ContextCommon"]
	path = Genome2D-ContextCommon
	url = https://github.com/pshtif/Genome2D-ContextCommon
[submodule "Genome2D-ContextHTML"]
	path = Genome2D-ContextHTML
	url = https://github.com/pshtif/Genome2D-ContextHTML
[submodule "Genome2D-Examples"]
	path = Genome2D-Examples
	url = https://github.com/pshtif/Genome2D-Examples
